/*------------ [ variables ] ------------ */
$primary: #3f52a2;
$secondary: #0c0e1d;

$light: #ffffff;
$dark: #000000;

$text-dark: #525252;
$text-light: #898a8d;

$ten:10px;

$fonts:font-w;

$var: true !default; 